.options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px 25px 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.filter-container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.leave-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.depart-time {
    flex-grow: 1;
}
